footer {
    margin: 30px 0 10px 0;
}

footer a {
    margin: 10px 5px;
}

.icon-github,
.icon-twitter {
    font-size: 24px;
    transition: transform 0.2s ease-in-out;
}

.icon-twitter {
    color: #00b1ff;
}

.icon-github:hover,
.icon-twitter:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}